Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Revert "Remove duplicate checkpoint_v2_validators field and add migration"
  src/commands/start/base.py
  src/validators/database.py
  src/validators/execution.py
  src/validators/tests/test_database.py
Due: bandit, flake8, isort, pylint, mypy, black

Migrate checkpoint table to (name, block) schema
  src/commands/start/base.py
  src/validators/database.py
  src/validators/execution.py
  src/validators/tests/test_database.py
Due: bandit, flake8, isort, pylint, mypy, black

Add migration tests
  src/validators/database.py
  src/validators/tests/test_database.py
Due: bandit, flake8, isort, pylint, mypy, black

Move private functions to bottom
  src/validators/database.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove genesis INSERT from CheckpointCrud.setup
  src/validators/database.py
  src/validators/tests/test_database.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot fix
  src/validators/database.py
Due: bandit, flake8, isort, pylint, mypy, black

Deposit to meta sub vaults (#661)
  src/meta_vault/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add update redeemable positions command (#630)
  poetry.lock
  pyproject.toml
  src/commands/internal/__init__.py
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/__init__.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/common/abi/Erc20Token.json
  src/common/abi/IOsTokenRedeemer.json
  src/common/abi/IOsTokenVaultController.json
  src/common/clients.py
  src/common/contracts.py
  src/config/networks.py
  src/config/settings.py
  src/main.py
  src/redemptions/__init__.py
  src/redemptions/api_client.py
  src/redemptions/graph.py
  src/redemptions/os_token_converter.py
  src/redemptions/tests/__init__.py
  src/redemptions/tests/api_samples/protocols.json
  src/redemptions/tests/api_samples/with_boost.json
  src/redemptions/tests/test_api_client.py
  src/redemptions/tests/test_graph.py
  src/redemptions/typings.py
  src/reward_splitter/graph.py
  src/validators/tests/test_consolidation_selector.py
Due: bandit, flake8, isort, pylint, mypy, black

Db tests (#660)
  src/commands/start/base.py
  src/validators/database.py
  src/validators/execution.py
  src/validators/tests/test_database.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump version v4.1.7
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Add claude to gitignore
  .gitignore
Due: none

Bump version v4.1.7 (#662)
  .gitignore
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Fix sub vaults registry
  src/common/contracts.py
  src/meta_vault/service.py
  src/meta_vault/tests/test_service.py
Due: bandit, flake8, isort, pylint, mypy, black

Rename sub_vaults_registry -> sub_vaults_registry_contract
  src/meta_vault/service.py
  src/meta_vault/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add withdrawals to cover redemption assets (#648)
  src/common/contracts.py
  src/common/decorators.py
  src/common/tests/utils.py
  src/common/utils.py
  src/common/withdrawals.py
  src/config/networks.py
  src/meta_vault/service.py
  src/meta_vault/tasks.py
  src/meta_vault/tests/test_service.py
  src/meta_vault/typings.py
  src/redemptions/os_token_converter.py
  src/redemptions/tasks.py
  src/redemptions/tests/factories.py
  src/redemptions/tests/test_os_token_converter.py
  src/redemptions/tests/test_tasks.py
  src/redemptions/typings.py
  src/withdrawals/assets.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add comments
  src/validators/consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Add comments (#663)
  src/validators/consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Unify redeemable positions fetch
  src/commands/internal/process_redeemer.py
  src/common/contracts.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix contract calls
  src/commands/internal/process_redeemer.py
  src/common/contracts.py
Due: bandit, flake8, isort, pylint, mypy, black

Check empty merkle root
  src/commands/internal/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Skip empty positions
  src/commands/internal/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactoring
  src/commands/internal/process_redeemer.py
  src/common/contracts.py
Due: bandit, flake8, isort, pylint, mypy, black

Add tests
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Add interval option
  src/commands/internal/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove unused options
  src/commands/internal/process_redeemer.py
  src/redemptions/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Split OsTokenPosition.redeemable_shares into available_shares and shares_to_redeem
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/redemptions/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Update tests
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, black

Rename validator.signature -> deposit_signature, accept exit sig shards from relayer
  src/commands/start/relayer.py
  src/validators/oracles.py
  src/validators/relayer.py
  src/validators/signing/common.py
  src/validators/tasks.py
  src/validators/typings.py
  src/validators/utils.py
  src/validators/validators_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor to_hex
  src/validators/relayer.py
Due: bandit, flake8, isort, pylint, mypy, black

Continue to remaining meta vaults when meta vault processing failed
  src/meta_vault/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Continue to remaining meta vaults when meta vault processing failed (#666)
  src/meta_vault/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot fixes
  src/validators/oracles.py
  src/validators/relayer.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fix
  src/validators/relayer.py
Due: bandit, flake8, isort, pylint, mypy, black

Accept exit signature shards from relayer (#665)
  src/commands/start/relayer.py
  src/validators/oracles.py
  src/validators/relayer.py
  src/validators/signing/common.py
  src/validators/tasks.py
  src/validators/typings.py
  src/validators/utils.py
  src/validators/validators_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump v5.0.0.dev2
  pyproject.toml
Due: none

Bump v4.1.8
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Bump v4.1.8 (#667)
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Bump v5.0.0.dev3
  pyproject.toml
Due: none

Copilot fixes
  src/validators/consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump version
  README.md
  pyproject.toml
  scripts/install.sh
Due: none
