Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Fix if check
  src/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Move switch check out from the loop
  src/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove empty line
  src/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Update consolidation oracle request (#555)
  src/commands/consolidate.py
  src/validators/oracles.py
  src/validators/register_validators.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Simplify validator funding
  src/validators/relayer.py
  src/validators/tasks.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix register endpoint
  src/validators/relayer.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix funding (#557)
  src/validators/relayer.py
  src/validators/tasks.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Update ValidatorsChecker contract addresses
  src/config/networks.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update ValidatorsChecker contract addresses (#558)
  src/config/networks.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Pin chain head for withdrawals
  poetry.lock
  pyproject.toml
  src/commands/start/base.py
  src/common/consensus.py
  src/common/contracts.py
  src/common/harvest.py
  src/withdrawals/assets.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Pin chain head for withdrawals (#559)
  poetry.lock
  pyproject.toml
  src/commands/start/base.py
  src/common/consensus.py
  src/common/contracts.py
  src/common/harvest.py
  src/withdrawals/assets.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix env file
  .env.example
Due: none

Fix env file (#560)
  .env.example
Due: none

Add env to disable registration
  src/commands/start/base.py
  src/config/networks.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Update .env.example
  .env.example
Due: none

Ignore keystores with disabled registration
  src/commands/start/base.py
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Recursive local keystores loading
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Rewrite with Path
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fixes
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fix
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Recursive local keystores loading (#562)
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Add env to disable registration (#561)
  .env.example
  src/commands/start/base.py
  src/common/startup_check.py
  src/config/networks.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Cleanup readme
  README.md
Due: none

Fix typo
  README.md
Due: none

Small refactoring
  src/commands/start/base.py
  src/commands/start/relayer.py
  src/common/startup_check.py
  src/common/typings.py
  src/config/settings.py
  src/validators/keystores/local.py
  src/validators/tasks.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Use divmod
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove kube section
  README.md
Due: none

Cleanup readme (#563)
  README.md
Due: none

Update gnosis consolidation address
  README.md
  pyproject.toml
  scripts/install.sh
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update gnosis consolidation address (#565)
  README.md
  pyproject.toml
  scripts/install.sh
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update web3 to 7
  poetry.lock
  pyproject.toml
  src/common/clients.py
  src/common/contracts.py
  src/common/credentials.py
  src/common/startup_check.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Add max validator balance setting
  src/commands/consolidate.py
  src/commands/start/common_option.py
  src/commands/start/hashi_vault.py
  src/commands/start/local.py
  src/commands/start/relayer.py
  src/commands/start/remote_signer.py
  src/common/tests/test_validators.py
  src/common/validators.py
  src/config/networks.py
  src/config/settings.py
  src/conftest.py
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Linter fix
  src/common/tests/test_validators.py
Due: bandit, flake8, isort, pylint, black

Isort
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Review fix
  src/commands/consolidate.py
  src/commands/start/common_option.py
Due: bandit, flake8, isort, pylint, mypy, black

gwei -> Gwei
  src/commands/consolidate.py
  src/commands/start/common_option.py
Due: bandit, flake8, isort, pylint, mypy, black

Add max validator balance setting (#566)
  src/commands/consolidate.py
  src/commands/start/common_option.py
  src/commands/start/hashi_vault.py
  src/commands/start/local.py
  src/commands/start/relayer.py
  src/commands/start/remote_signer.py
  src/common/tests/test_validators.py
  src/common/validators.py
  src/config/networks.py
  src/config/settings.py
  src/conftest.py
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Separate flags for funding and registration
  src/commands/start/base.py
  src/commands/start/common_option.py
  src/commands/start/hashi_vault.py
  src/commands/start/local.py
  src/commands/start/relayer.py
  src/commands/start/remote_signer.py
  src/common/startup_check.py
  src/config/settings.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix env names
  src/commands/start/common_option.py
Due: bandit, flake8, isort, pylint, mypy, black
