Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  args:
  - --check
  - --diff
  require_serial: true

Fix meta vault not found in subgraph checks
  src/meta_vault/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Skip unharvested vaults in process-redeemer, add OS_TOKEN_REDEEMER_CHUNK_SIZE setting (#740)
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/common/contracts.py
  src/config/settings.py
  src/redemptions/fetch_positions.py
  src/redemptions/tests/test_fetch_positions.py
  src/redemptions/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Rework meta vaults to v5 release (#746)
  README.md
  poetry.lock
  pyproject.toml
  scripts/install.sh
  src/common/abi/IEthMetaVault.json
  src/common/abi/ISubVaultsRegistry.json
  src/common/abi/IValidatorsChecker.json
  src/common/contracts.py
  src/common/startup_check.py
  src/config/networks.py
  src/meta_vault/graph.py
  src/meta_vault/tasks.py
  src/meta_vault/tests/factories.py
  src/meta_vault/typings.py
  src/reward_splitter/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Re-raise ClickException in command error handlers
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/commands/process_meta_vaults.py
  src/commands/recover.py
  src/commands/setup_remote_signer.py
  src/commands/start/hashi_vault.py
  src/commands/start/local.py
  src/commands/start/relayer.py
  src/commands/start/remote_signer.py
  src/remote_db/commands.py
Due: bandit, flake8, isort, pylint, mypy, black

Re-raise ClickException in command error handlers (#747)
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/commands/process_meta_vaults.py
  src/commands/recover.py
  src/commands/setup_remote_signer.py
  src/commands/start/hashi_vault.py
  src/commands/start/local.py
  src/commands/start/relayer.py
  src/commands/start/remote_signer.py
  src/remote_db/commands.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix tests
  src/reward_splitter/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Refactor naming in validators (#738)
  src/commands/consolidate.py
  src/validators/consensus.py
  src/validators/register_validators.py
  src/validators/signing/tests/test_common.py
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Upd description in pyproject
  pyproject.toml
Due: none

Upd aiohttp
  poetry.lock
Due: none

Fix tests
  src/conftest.py
Due: bandit, flake8, isort, pylint, black

Updated project description and deps (#749)
  poetry.lock
  pyproject.toml
  src/conftest.py
Due: bandit, flake8, isort, pylint, black

Rename validators modules and move get_withdrawable_assets
  src/commands/consolidate.py
  src/commands/start/base.py
  src/validators/consensus.py
  src/validators/event_processors.py
  src/validators/execution.py
  src/validators/oracles.py
  src/validators/register_validators.py
  src/validators/relayer.py
  src/validators/tasks.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Extract validate_index_and_register_validators wrapper
  src/validators/execution.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor validators/execution.py (#750)
  src/commands/consolidate.py
  src/commands/start/base.py
  src/validators/consensus.py
  src/validators/event_processors.py
  src/validators/execution.py
  src/validators/oracles.py
  src/validators/register_validators.py
  src/validators/relayer.py
  src/validators/tasks.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Log metrics server address
  src/commands/start/startup_check.py
  src/common/metrics.py
Due: bandit, flake8, isort, pylint, mypy, black

Decode custom error on fund validators failure
  src/common/abi/Errors.json
  src/common/contracts.py
  src/common/tests/test_contract_errors.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Move funding log to fund_validators_chunk
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Report funding interval wait time
  src/common/contracts.py
  src/validators/tasks.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Use latest release in install.sh instead of hardcoded version
  scripts/install.sh
Due: none

Remind operator to upgrade when newer release is available
  poetry.lock
  pyproject.toml
  src/commands/start/startup_check.py
  src/common/startup_check.py
  src/meta_vault/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Improve operator version reminder wording
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Use latest release in install.sh instead of hardcoded version (#752)
  scripts/install.sh
Due: none

Removed OPERATOR_USER_AGENT from github request
  src/common/clients.py
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Remind operator to upgrade when newer release is available (#753)
  poetry.lock
  pyproject.toml
  src/commands/start/startup_check.py
  src/common/clients.py
  src/common/startup_check.py
  src/meta_vault/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Split commands and contracts between packages
  src/common/contracts.py
  src/conftest.py
  src/main.py
  src/meta_vault/abi/IEthMetaVault.json
  src/meta_vault/abi/ISubVaultsRegistry.json
  src/meta_vault/commands/__init__.py
  src/meta_vault/commands/process_meta_vaults.py
  src/meta_vault/contracts.py
  src/meta_vault/tasks.py
  src/validators/commands/__init__.py
  src/validators/commands/consolidate.py
  src/validators/commands/exit_validators.py
  src/validators/commands/setup_remote_signer.py
  src/validators/commands/tests/__init__.py
  src/validators/commands/tests/test_exit_validators.py
  src/validators/commands/tests/test_setup_remote_signer.py
Due: bandit, flake8, isort, pylint, mypy, black

Guard against multiple vaults when updating vault state
  src/reward_splitter/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Check gas price once per reward splitter run
  src/reward_splitter/tasks.py
  src/reward_splitter/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Split commands and contracts between packages (#754)
  src/common/contracts.py
  src/conftest.py
  src/main.py
  src/meta_vault/abi/IEthMetaVault.json
  src/meta_vault/abi/ISubVaultsRegistry.json
  src/meta_vault/commands/__init__.py
  src/meta_vault/commands/process_meta_vaults.py
  src/meta_vault/contracts.py
  src/meta_vault/tasks.py
  src/validators/commands/__init__.py
  src/validators/commands/consolidate.py
  src/validators/commands/exit_validators.py
  src/validators/commands/setup_remote_signer.py
  src/validators/commands/tests/__init__.py
  src/validators/commands/tests/test_exit_validators.py
  src/validators/commands/tests/test_setup_remote_signer.py
Due: bandit, flake8, isort, pylint, mypy, black

Update test
  src/reward_splitter/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Update poetry.lock
  poetry.lock
Due: none

Remove wait for graph sync
  src/reward_splitter/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor redemption modules
  src/common/contracts.py
  src/main.py
  src/redemptions/abi/IOsTokenRedeemer.json
  src/redemptions/commands/__init__.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/__init__.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/commands/tests/test_update_redeemable_positions.py
  src/redemptions/commands/update_redeemable_positions.py
  src/redemptions/contracts.py
  src/redemptions/fetch_positions.py
  src/redemptions/tasks.py
  src/redemptions/tests/test_fetch_positions.py
  src/redemptions/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor redemption modules (#756)
  src/common/contracts.py
  src/main.py
  src/redemptions/abi/IOsTokenRedeemer.json
  src/redemptions/commands/__init__.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/__init__.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/commands/tests/test_update_redeemable_positions.py
  src/redemptions/commands/update_redeemable_positions.py
  src/redemptions/contracts.py
  src/redemptions/fetch_positions.py
  src/redemptions/tasks.py
  src/redemptions/tests/test_fetch_positions.py
  src/redemptions/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor custom error decoding to web3 style
  src/common/contracts.py
  src/common/tests/test_contract_errors.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Extract ErrorMixin for custom error decoding
  src/common/contracts.py
  src/common/tests/test_contract_errors.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Log metrics server address (#751)
  src/commands/start/startup_check.py
  src/common/metrics.py
Due: bandit, flake8, isort, pylint, mypy, black

Claim fee splitter rewards for meta vaults (#748)
  src/meta_vault/commands/process_meta_vaults.py
  src/meta_vault/startup_check.py
  src/meta_vault/tasks.py
  src/meta_vault/tests/test_tasks.py
  src/reward_splitter/tasks.py
  src/reward_splitter/tests/__init__.py
  src/reward_splitter/tests/factories.py
  src/reward_splitter/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add --dry-run to process-redeemer command
  src/redemptions/commands/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Path conditions:
  bandit: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: test
  black: any of: \.py$
