Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  args:
  - --check
  - --diff
  require_serial: true

Bump sw-utils to v0.15.1
  poetry.lock
  pyproject.toml
Due: none

Bump version to v5.1.1
  README.md
  pyproject.toml
Due: none

Fix oracle config lookup on pruned nodes (#853)
  README.md
  poetry.lock
  pyproject.toml
  src/common/protocol_config.py
  src/common/tests/test_protocol_config.py
  src/redemptions/commands/tests/test_update_redeemable_positions.py
Due: bandit, flake8, isort, pylint, mypy, black

Update NodeWise pruning options and node versions
  src/common/startup_check.py
  src/config/networks.py
  src/nodewise/commands/node_install.py
  src/nodewise/process.py
  src/nodewise/status.py
Due: bandit, flake8, isort, pylint, mypy, black

Update NodeWise pruning options and node versions (#854)
  src/common/startup_check.py
  src/config/networks.py
  src/nodewise/commands/node_install.py
  src/nodewise/process.py
  src/nodewise/status.py
Due: bandit, flake8, isort, pylint, mypy, black

Use vault validators dump in recover command
  src/commands/recover.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Use vault validators dump in exit-validators command
  src/commands/recover.py
  src/validators/commands/exit_validators.py
  src/validators/commands/tests/test_exit_validators.py
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Use vault validators dump in consolidate command
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix pip-audit
  poetry.lock
  pyproject.toml
Due: none

Fix pip-audit 2
  poetry.lock
Due: none

Log claim delay as warning until overdue
  src/meta_vault/tasks.py
  src/meta_vault/tests/factories.py
  src/meta_vault/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add separate overdue message with sub vault address
  src/meta_vault/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fixes
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Log claim delay as warning until overdue (#857)
  src/meta_vault/tasks.py
  src/meta_vault/tests/factories.py
  src/meta_vault/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Use vault validators dump in recover, exit-validators and consolidate commands (#855)
  poetry.lock
  pyproject.toml
  src/commands/recover.py
  src/validators/commands/exit_validators.py
  src/validators/commands/tests/test_exit_validators.py
  src/validators/consolidation_manager.py
  src/validators/tasks.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump sw-utils to v0.15.4
  poetry.lock
  pyproject.toml
Due: none

Use valid BLS private keys in hashi vault test fixture
  src/validators/keystores/tests/test_fixtures/hashi_vault.py
Due: bandit, flake8, isort, pylint, black

Fix flaky hashi vault keystore tests (#858)
  poetry.lock
  pyproject.toml
  src/validators/keystores/tests/test_fixtures/hashi_vault.py
Due: bandit, flake8, isort, pylint, black

Bump version v3.1.11
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Add env to disable validator registrations
  .env.example
  src/commands/start_base.py
  src/config/settings.py
  src/validators/keystores/remote.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update CI workflows and install script from master
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  scripts/install.sh
Due: none

Force stable rust toolchain for milagro build
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
Due: none

Do not couple registrations flag to deposit data reads
  .env.example
  src/commands/start_base.py
  src/common/startup_check.py
  src/config/settings.py
  src/validators/keystores/remote.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump version v3.1.12
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Allow empty deposit data with remote signer
  src/common/startup_check.py
  src/validators/keystores/remote.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Require deposit data file only when it is read
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Keep validator metrics exported when registrations are disabled
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add JWT auth for relayer requests
  poetry.lock
  pyproject.toml
  src/commands/start/relayer.py
  src/common/tests/test_validators.py
  src/common/validators.py
  src/config/settings.py
  src/validators/relayer.py
  src/validators/tests/test_relayer.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix lint in relayer tests
  src/validators/tests/test_relayer.py
Due: bandit, flake8, isort, pylint, black

Fixt tests
  src/validators/tests/test_relayer.py
Due: bandit, flake8, isort, pylint, black

Update dependencies
  poetry.lock
Due: none

Add patch_settings test helper
  src/common/tests/utils.py
  src/validators/tests/test_relayer.py
Due: bandit, flake8, isort, pylint, black

Add relayer JWT secret to exit-validators and consolidate
  src/validators/commands/consolidate.py
  src/validators/commands/exit_validators.py
Due: bandit, flake8, isort, pylint, mypy, black

Normalize relayer JWT secret with web3 helpers
  src/commands/start/relayer.py
  src/common/tests/test_validators.py
  src/common/validators.py
  src/config/settings.py
  src/validators/commands/consolidate.py
  src/validators/commands/exit_validators.py
  src/validators/relayer.py
Due: bandit, flake8, isort, pylint, mypy, black

Ignore jwt.hex
  .dockerignore
  .gitignore
Due: none

Add relayer JWT secret file option
  src/commands/start/common_option.py
  src/commands/start/relayer.py
  src/common/tests/test_validators.py
  src/common/validators.py
  src/config/settings.py
  src/validators/commands/consolidate.py
  src/validators/commands/exit_validators.py
Due: bandit, flake8, isort, pylint, mypy, black

Add EVENT_SCANNER_MAX_CHUNK_SIZE setting
  poetry.lock
  pyproject.toml
  src/config/settings.py
  src/validators/event_processors.py
Due: bandit, flake8, isort, pylint, mypy, black

Path conditions:
  bandit: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: test
  black: any of: \.py$
