Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  args:
  - --check
  - --diff
  require_serial: true

Patched network connections and sleeps in tests
  src/commands/tests/test_exit_validators.py
  src/commands/tests/test_setup_remote_signer.py
  src/conftest.py
  src/meta_vault/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Patched network connections and sleeps in tests (#632)
  src/commands/tests/test_exit_validators.py
  src/commands/tests/test_setup_remote_signer.py
  src/conftest.py
  src/meta_vault/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Add get_vault_to_unprocessed_shares
  poetry.lock
  pyproject.toml
  src/common/abi/IOsTokenRedeemer.json
  src/common/contracts.py
  src/common/typings.py
  src/config/networks.py
  src/validators/os_token_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Add full withdrawals logging
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix network check for multiple endpoints case
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor common/execution.py
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/common/consolidations.py
  src/common/execution.py
  src/common/withdrawals.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix ubuntu binary
  operator.spec
Due: none

Bump v4.1.4
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Fix network check for multiple endpoints case (#634)
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Add full withdrawals logging (#633)
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix ubuntu binary (#635)
  README.md
  operator.spec
  pyproject.toml
  scripts/install.sh
Due: none

Fix lint
  src/common/consolidations.py
  src/common/withdrawals.py
Due: bandit, flake8, isort, pylint, mypy, black

Add test-binaries to CI
  .github/workflows/release.yaml
Due: none

Fix version env
  .github/workflows/release.yaml
Due: none

Rollback version
  .github/workflows/release.yaml
Due: none

Use needs.build.get_version.outputs.VERSION
  .github/workflows/release.yaml
Due: none

Fix version, replace set-output, comment out release job
  .github/workflows/release.yaml
Due: none

Check binaries immediately after build
  .github/workflows/release.yaml
Due: none

Spoil operator.spec
  operator.spec
Due: none

Edit tags
  .github/workflows/release.yaml
Due: none

Fix paths
  .github/workflows/release.yaml
Due: none

Add 'set -x'
  .github/workflows/release.yaml
Due: none

Revert "Add 'set -x'"
  .github/workflows/release.yaml
Due: none

Revert "Spoil operator.spec"
  operator.spec
Due: none

Replace deprecated set-output
  .github/workflows/release.yaml
Due: none

Fixed GITHUB_ENV
  .github/workflows/release.yaml
Due: none

Revert tags
  .github/workflows/release.yaml
Due: none

Fix ubuntu 24
  .github/workflows/release.yaml
Due: none

Fix ubuntu 24 hidden imports
  operator.spec
Due: none

Fix build for windows
  .github/workflows/release.yaml
Due: none

Fix windows 2
  .github/workflows/release.yaml
Due: none

Fix windows 3
  .github/workflows/release.yaml
Due: none

Fix underscores
  operator.spec
Due: none

Fix cyrillic
  operator.spec
Due: none

Refactor common/execution.py (#636)
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/common/consolidations.py
  src/common/execution.py
  src/common/withdrawals.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add tests
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/__init__.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/redeem/tests/api_samples/with_boost.json
  src/redeem/tests/test_api_client.py
  src/redeem/tests/test_graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Test binaries in CI (#637)
  .github/workflows/release.yaml
  operator.spec
Due: none

Update base docker image
  .github/workflows/docker.yaml
  Dockerfile
Due: none

Review fixes
  src/commands/internal/update_redeemable_positions.py
  src/common/contracts.py
  src/redeem/api_client.py
  src/redeem/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove comment
  Dockerfile
Due: none

Path conditions:
  bandit: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: test
  black: any of: \.py$
