Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Copilot fixes
  src/commands/node_manager_start.py
  src/node_manager/register_validators.py
Due: bandit, flake8, isort, pylint, mypy, black

Handle InvalidOraclesRequestError
  src/node_manager/oracles.py
  src/node_manager/tests/test_register_validators.py
Due: bandit, flake8, isort, pylint, mypy, black

Use graph cursor pagination (#699)
  src/commands/submit_rated_network.py
  src/meta_vault/graph.py
  src/reward_splitter/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Rename deficit
  src/commands/internal/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix test
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, black

Review fixes
  src/node_manager/oracles.py
  src/node_manager/register_validators.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Use HexStr for signatures
  src/node_manager/oracles.py
  src/node_manager/register_validators.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Rename to validators_manager_signature
  src/node_manager/oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor tests
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Rename to nodes_manager_signature
  src/node_manager/oracles.py
  src/node_manager/register_validators.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Use disable_validators_registration settings
  src/node_manager/tasks.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Pin github actions commit hashes
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

Upd deps
  poetry.lock
Due: none

Fix poetry version
  .github/workflows/release.yaml
Due: none

Pin github actions commit hashes (#701)
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  poetry.lock
Due: none

Add funding code
  src/node_manager/execution.py
  src/node_manager/oracles.py
  src/node_manager/register_validators.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Renamed nodes -> nodewise
  src/commands/nodewise/__init__.py
  src/commands/nodewise/node_install.py
  src/commands/nodewise/node_start.py
  src/commands/nodewise/node_status.py
  src/nodewise/__init__.py
  src/nodewise/exceptions.py
  src/nodewise/execution_sync_history.py
  src/nodewise/lighthouse.py
  src/nodewise/process.py
  src/nodewise/status.py
  src/nodewise/status_history.py
  src/nodewise/typings.py
  src/nodewise/utils/proc.py
  src/nodewise/utils/timeout.py
Due: bandit, flake8, isort, pylint, mypy, black

Pass protocol_config
  src/node_manager/oracles.py
  src/node_manager/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Move node-start command to nodewise dir
  src/commands/start/base.py
  src/main.py
  src/nodewise/commands/__init__.py
  src/nodewise/commands/node_install.py
  src/nodewise/commands/node_start.py
  src/nodewise/commands/node_status.py
Due: bandit, flake8, isort, pylint, mypy, black

Improve tests
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
Due: bandit, flake8, isort, pylint, black

Rename nodes to nodewise (#702)
  src/commands/start/base.py
  src/main.py
  src/nodewise/__init__.py
  src/nodewise/commands/__init__.py
  src/nodewise/commands/node_install.py
  src/nodewise/commands/node_start.py
  src/nodewise/commands/node_status.py
  src/nodewise/exceptions.py
  src/nodewise/execution_sync_history.py
  src/nodewise/lighthouse.py
  src/nodewise/process.py
  src/nodewise/status.py
  src/nodewise/status_history.py
  src/nodewise/typings.py
  src/nodewise/utils/proc.py
  src/nodewise/utils/timeout.py
Due: bandit, flake8, isort, pylint, mypy, black

Use validator DB models
  src/commands/node_manager_start.py
  src/node_manager/database.py
  src/node_manager/execution.py
  src/node_manager/oracles.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fixes
  src/node_manager/oracles.py
  src/node_manager/register_validators.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix comments
  src/node_manager/oracles.py
Due: bandit, flake8, isort, pylint, mypy, black

Nodes manager registration only (#700)
  src/commands/node_manager_start.py
  src/node_manager/oracles.py
  src/node_manager/register_validators.py
  src/node_manager/startup_check.py
  src/node_manager/tasks.py
  src/node_manager/tests/__init__.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
  src/node_manager/typings.py
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Allow only v2 validators registration
  src/commands/node_manager_start.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update packages
  poetry.lock
Due: none

Update tests
  src/node_manager/oracles.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Add validators events scanner for node manager
  src/commands/node_manager_start.py
  src/node_manager/execution.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Replace KEEPER_GENESIS_BLOCK with NODES_MANAGER_GENESIS_BLOCK
  src/config/networks.py
  src/node_manager/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Small refactoring
  src/config/networks.py
  src/node_manager/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Update packages (#704)
  poetry.lock
Due: none

Add tests
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Small refactoring
  src/common/contracts.py
  src/node_manager/execution.py
  src/node_manager/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Allow only v2 validators registration (#703)
  src/commands/node_manager_start.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fix
  src/node_manager/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Pass validators_scanner to task
  src/commands/node_manager_start.py
  src/node_manager/execution.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add validators events scanner for node manager (#705)
  src/commands/node_manager_start.py
  src/config/networks.py
  src/node_manager/execution.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add community-operator option to commands
  src/commands/create_keys.py
  src/commands/create_wallet.py
  src/commands/init.py
  src/commands/tests/test_init.py
  src/common/validators.py
  src/config/config.py
  src/config/networks.py
  src/conftest.py
Due: bandit, flake8, isort, pylint, mypy, black
