Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Fix graph client setup (#646)
  src/common/clients.py
Due: bandit, flake8, isort, pylint, mypy, black

Updated CI
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

Fix python version in binaries
  .github/workflows/release.yaml
Due: none

Updated CI (#647)
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
Due: none

Fix IPFS mock
  src/commands/tests/test_internal/test_update_redeemable_positions.py
Due: bandit, flake8, isort, pylint, black

Move log
  src/commands/internal/update_redeemable_positions.py
Due: bandit, flake8, isort, pylint, mypy, black

Add get_redemption_assets
  src/common/contracts.py
  src/common/decorators.py
  src/common/withdrawals.py
  src/config/networks.py
  src/meta_vault/service.py
  src/meta_vault/typings.py
  src/redeem/tasks.py
  src/withdrawals/assets.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot fixes
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/common/clients.py
  src/redemptions/api_client.py
Due: bandit, flake8, isort, pylint, mypy, black

Add withdrawals to cover redemption assets
  poetry.lock
  pyproject.toml
  src/common/contracts.py
  src/common/decorators.py
  src/common/utils.py
  src/common/withdrawals.py
  src/config/networks.py
  src/meta_vault/service.py
  src/meta_vault/typings.py
  src/redemptions/os_token_converter.py
  src/redemptions/tasks.py
  src/redemptions/typings.py
  src/withdrawals/assets.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Separate consolidation selector
  src/commands/consolidate.py
  src/consolidations/__init__.py
  src/validators/consolidation_selector.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix graph endpoint in process-meta-vaults
  src/commands/process_meta_vaults.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump v4.1.6
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Move download log
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Move download log (#650)
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix graph endpoint in process-meta-vaults (#649)
  README.md
  pyproject.toml
  scripts/install.sh
  src/commands/process_meta_vaults.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor consolidation manager
  src/commands/consolidate.py
  src/validators/consolidation_manager.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fixes
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/validators/tests/test_consolidation_selector.py
Due: bandit, flake8, isort, pylint, mypy, black

Add arbitrum config
  src/commands/internal/update_redeemable_positions.py
  src/redemptions/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Add min_minted_shares filter
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
Due: bandit, flake8, isort, pylint, mypy, black

Add tests
  src/commands/consolidate.py
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Split consolidating indexes
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Update tests
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot fixes
  src/commands/consolidate.py
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Update sortings
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/redemptions/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot fix
  src/commands/internal/update_redeemable_positions.py
Due: bandit, flake8, isort, pylint, mypy, black

Do not always wait for sessions close
  src/commands/start/base.py
  src/common/clients.py
Due: bandit, flake8, isort, pylint, mypy, black

Do not always wait for sessions close (#651)
  src/commands/start/base.py
  src/common/clients.py
Due: bandit, flake8, isort, pylint, mypy, black

Add tests
  src/common/tests/utils.py
  src/meta_vault/tests/test_service.py
  src/redemptions/os_token_converter.py
  src/redemptions/tasks.py
  src/redemptions/tests/factories.py
  src/redemptions/tests/test_os_token_converter.py
  src/redemptions/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update redeemer contract
  src/common/abi/IOsTokenVaultController.json
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Rm leaves sort
  src/commands/internal/update_redeemable_positions.py
Due: bandit, flake8, isort, pylint, mypy, black

Update ABIs
  src/common/abi/IOsTokenRedeemer.json
  src/common/abi/IOsTokenVaultController.json
Due: none

Unify is_meta_vault
  src/commands/internal/process_redeemer.py
  src/common/contracts.py
Due: bandit, flake8, isort, pylint, mypy, black

Skip debank for hoodi
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/redemptions/api_client.py
  src/redemptions/tests/test_api_client.py
Due: bandit, flake8, isort, pylint, mypy, black

Unify API_SUPPORTED_CHAINS
  src/commands/internal/update_redeemable_positions.py
  src/redemptions/api_client.py
Due: bandit, flake8, isort, pylint, mypy, black

Add guide for contributors
  CONTRIBUTING.md
Due: none

Improve writing
  CONTRIBUTING.md
Due: none

Fix
  CONTRIBUTING.md
Due: none

Apply suggestions from code review
  CONTRIBUTING.md
Due: none

Use itertools batched
  src/commands/setup_remote_signer.py
  src/common/credentials.py
  src/validators/consensus.py
  src/validators/keystores/hashi_vault.py
  src/validators/relayer.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add guide for contributors (#652)
  CONTRIBUTING.md
Due: none
