Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  args:
  - --check
  - --diff
  require_serial: true

Bump v3.0.2
  README.md
  scripts/install.sh
Due: none

Cleanup 2
  .github/workflows/ci.yaml
Due: none

Add network label
  src/commands/start_base.py
  src/common/execution.py
  src/common/metrics.py
  src/exits/tasks.py
  src/validators/metrics.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix
  src/common/metrics.py
Due: bandit, flake8, isort, pylint, mypy, black

Add network label (#453)
  src/commands/start_base.py
  src/common/execution.py
  src/common/metrics.py
  src/exits/tasks.py
  src/validators/metrics.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Built Macos binary for ARM, deleted AMD build (#452)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Update keeper config block number
  README.md
  pyproject.toml
  scripts/install.sh
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update keeper config block number (#454)
  README.md
  pyproject.toml
  scripts/install.sh
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Check validator registry events prune
  poetry.lock
  pyproject.toml
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Check validator registry events prune (#455)
  poetry.lock
  pyproject.toml
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Use gas manager from sw-utils
  poetry.lock
  pyproject.toml
  src/common/execution.py
  src/harvest/tasks.py
  src/validators/register_validators.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Use gas manager from sw-utils
  README.md
  scripts/install.sh
Due: none

Sw utils gas (#456)
  README.md
  poetry.lock
  pyproject.toml
  scripts/install.sh
  src/common/execution.py
  src/harvest/tasks.py
  src/validators/register_validators.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add hoodi network
  .env.example
  README.md
  poetry.lock
  pyproject.toml
  src/commands/tests/test_create_keys.py
  src/commands/tests/test_init.py
  src/config/networks.py
  src/conftest.py
Due: bandit, flake8, isort, pylint, mypy, black

Pectra update: init
  src/commands/consolidate.py
  src/commands/create_keys.py
  src/commands/import_genesis_keys.py
  src/commands/recover.py
  src/commands/start.py
  src/commands/start_base.py
  src/commands/tests/test_consolidate.py
  src/commands/tests/test_create_keys.py
  src/common/abi/IEthVault.json
  src/common/abi/IVaultValidators.json
  src/common/consensus.py
  src/common/contracts.py
  src/common/credentials.py
  src/common/exceptions.py
  src/common/tests/factories.py
  src/common/typings.py
  src/common/validator_manager_signature.py
  src/config/settings.py
  src/conftest.py
  src/validators/oracles.py
  src/validators/signing/common.py
  src/validators/tasks.py
  src/validators/tests/__init__.py
  src/validators/tests/test_tasks.py
  src/validators/utils.py
  src/withdrawals/__init__.py
  src/withdrawals/execution.py
  src/withdrawals/tasks.py
  src/withdrawals/tests/__init__.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Pectra update: Register validators
  poetry.lock
  pyproject.toml
  src/commands/tests/test_create_keys.py
  src/common/contracts.py
  src/common/credentials.py
  src/common/startup_check.py
  src/common/validator_manager_signature.py
  src/validators/oracles.py
  src/validators/register_validators.py
  src/validators/signing/common.py
  src/validators/tasks.py
  src/validators/utils.py
  src/withdrawals/execution.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Pectra update: consolidate and withdrawals contract calls
  src/commands/consolidate.py
  src/validators/oracles.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Pectra update: consolidate oracle's call
  src/commands/consolidate.py
  src/common/exceptions.py
  src/common/validator_manager_signature.py
  src/validators/oracles.py
  src/validators/tasks.py
  src/validators/typings.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Update hoodi contracts
  poetry.lock
  pyproject.toml
  src/common/credentials.py
  src/config/networks.py
  src/validators/signing/common.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Version bump
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Add hoodi network (#457)
  .env.example
  README.md
  poetry.lock
  pyproject.toml
  scripts/install.sh
  src/commands/tests/test_create_keys.py
  src/commands/tests/test_init.py
  src/common/credentials.py
  src/config/networks.py
  src/conftest.py
  src/validators/signing/common.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Add consolidation\withdrawals fees limit
  src/commands/consolidate.py
  src/commands/recover.py
  src/common/execution.py
  src/config/networks.py
  src/config/settings.py
  src/validators/execution.py
  src/validators/oracles.py
  src/validators/register_validators.py
  src/validators/relayer.py
  src/validators/signing/common.py
  src/validators/tasks.py
  src/validators/typings.py
  src/validators/utils.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Hide "Waiting for relayer validators" message
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Use debug level
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Hide "Waiting for relayer validators" message (#459)
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump version v3.1.1
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Bump version v3.1.1 (#460)
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Allow run with multiple vaults
  src/commands/create_keys.py
  src/commands/create_wallet.py
  src/commands/import_genesis_keys.py
  src/commands/init.py
  src/commands/rated_self_report.py
  src/commands/recover.py
  src/commands/remote_signer_setup.py
  src/commands/start.py
  src/commands/start_api.py
  src/commands/validators_exit.py
  src/config/config.py
  src/conftest.py
  src/remote_db/commands.py
Due: bandit, flake8, isort, pylint, mypy, black

Use high priority fee for harvest tx
  README.md
  pyproject.toml
  scripts/install.sh
  src/config/settings.py
  src/harvest/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Update readme
  README.md
Due: none

Rename to config dir
  src/commands/create_keys.py
  src/commands/create_wallet.py
  src/commands/import_genesis_keys.py
  src/commands/init.py
  src/commands/rated_self_report.py
  src/commands/recover.py
  src/commands/remote_signer_setup.py
  src/commands/start.py
  src/commands/start_api.py
  src/commands/tests/test_create_keys.py
  src/commands/tests/test_create_wallet.py
  src/commands/tests/test_remote_signer_setup.py
  src/commands/tests/test_validators_exit.py
  src/commands/validators_exit.py
  src/config/config.py
  src/conftest.py
  src/exits/tests/test_tasks.py
  src/remote_db/commands.py
Due: bandit, flake8, isort, pylint, mypy, black

Update tests
  src/commands/remote_signer_setup.py
  src/commands/tests/test_create_keys.py
  src/commands/tests/test_create_wallet.py
  src/commands/tests/test_init.py
  src/commands/tests/test_merge_deposit_data.py
  src/commands/tests/test_remote_signer_setup.py
  src/commands/tests/test_validators_exit.py
  src/conftest.py
  src/exits/tests/test_tasks.py
  src/remote_db/tests/test_commands.py
Due: bandit, flake8, isort, pylint, mypy, black

Update tests 2
  src/remote_db/tests/test_commands.py
Due: bandit, flake8, isort, pylint, black

Markdown linter fixes
  README.md
Due: none

Use high priority fee for harvest tx (#462)
  README.md
  pyproject.toml
  scripts/install.sh
  src/config/settings.py
  src/harvest/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Binary release: bump ubuntu version
  .github/workflows/release.yaml
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Binary release: bump ubuntu version (#463)
  .github/workflows/release.yaml
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Binary release: fix filename
  .github/workflows/release.yaml
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Path conditions:
  bandit: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: test
  black: any of: \.py$
