Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Round down in log assets
  .gitignore
  pyproject.toml
  src/common/startup_check.py
  src/common/tests/__init__.py
  src/common/tests/test_utils.py
  src/common/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Round down in log assets (#438)
  .gitignore
  pyproject.toml
  src/common/startup_check.py
  src/common/tests/__init__.py
  src/common/tests/test_utils.py
  src/common/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Support for hashi vault structure with prefixed keys
  .env.example
  src/commands/start.py
  src/commands/validators_exit.py
  src/config/settings.py
  src/test_fixtures/hashi_vault.py
  src/validators/keystores/hashi_vault.py
  src/validators/keystores/tests/test_hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Code review feedback
  src/validators/keystores/hashi_vault.py
  src/validators/keystores/tests/test_hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Add flake8-newspaper
  poetry.lock
  pyproject.toml
  src/common/credentials.py
  src/common/execution.py
  src/common/graph.py
  src/common/password.py
  src/common/startup_check.py
  src/common/tasks.py
  src/common/vault.py
  src/exits/tests/test_tasks.py
  src/remote_db/database.py
  src/remote_db/tasks.py
  src/remote_db/tests/test_commands.py
  src/validators/execution.py
  src/validators/metrics.py
  src/validators/signing/common.py
  src/validators/signing/key_shares.py
  src/validators/signing/tests/test_common.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Support for hashi vault structure with prefixed keys, 1 secret per key (#439)
  .env.example
  src/commands/start.py
  src/commands/validators_exit.py
  src/config/settings.py
  src/test_fixtures/hashi_vault.py
  src/validators/keystores/hashi_vault.py
  src/validators/keystores/tests/test_hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump version v2.2.0
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Fix flake8-newspaper in hashi vault
  src/validators/keystores/hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Add flake8-newspaper (#441)
  poetry.lock
  pyproject.toml
  src/common/credentials.py
  src/common/execution.py
  src/common/graph.py
  src/common/password.py
  src/common/startup_check.py
  src/common/tasks.py
  src/common/vault.py
  src/exits/tests/test_tasks.py
  src/remote_db/database.py
  src/remote_db/tasks.py
  src/remote_db/tests/test_commands.py
  src/validators/execution.py
  src/validators/keystores/hashi_vault.py
  src/validators/metrics.py
  src/validators/signing/common.py
  src/validators/signing/key_shares.py
  src/validators/signing/tests/test_common.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump version v2.2.0 (#440)
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Add HashiKeys class
  src/validators/keystores/hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor HashiVaultKeysLoader.load
  src/validators/keystores/hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Use single session
  src/validators/keystores/hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor getting prefix-pubkey pairs
  src/validators/keystores/hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Use aiohttp response as context manager
  src/validators/keystores/hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove redundant hashi_vault from method names
  src/validators/keystores/hashi_vault.py
  src/validators/keystores/tests/test_hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor HashiVaultBundledKeysLoader
  src/validators/keystores/hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Use chunkify instead of islice
  src/commands/remote_signer_setup.py
  src/common/utils.py
  src/validators/keystores/hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix macos build
  .github/workflows/release.yaml
Due: none

Upd version
  pyproject.toml
Due: none

Fix psycopg
  .github/workflows/release.yaml
Due: none

Revert "Fix psycopg"
  .github/workflows/release.yaml
Due: none

Add libpq
  .github/workflows/release.yaml
Due: none

Add brew link
  .github/workflows/release.yaml
Due: none

Set version v2.2.1
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Fix macos build (#442)
  .github/workflows/release.yaml
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Upd sw-utils v0.7.4
  poetry.lock
  pyproject.toml
Due: none

Upd sw-utils v0.7.4 (#443)
  poetry.lock
  pyproject.toml
Due: none

Fix tests
  src/validators/keystores/hashi_vault.py
  src/validators/keystores/tests/test_hashi_vault.py
Due: bandit, flake8, isort, pylint, mypy, black

Add named keys in tests
  src/test_fixtures/hashi_vault.py
  src/validators/keystores/tests/test_hashi_vault.py
Due: bandit, flake8, isort, pylint, black

Extract poll_oracles_approval function
  src/common/utils.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add items to gitignore
  .gitignore
Due: none

Undo function move
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor validators registration (#445)
  .gitignore
  src/common/utils.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update pylint mypy
  poetry.lock
  pyproject.toml
  src/common/utils.py
  src/exits/tasks.py
  src/exits/utils.py
  src/main.py
  src/validators/signing/key_shares.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Update pylint mypy (#446)
  poetry.lock
  pyproject.toml
  src/common/utils.py
  src/exits/tasks.py
  src/exits/utils.py
  src/main.py
  src/validators/signing/key_shares.py
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Add restore keystore script
  src/remote_db/commands.py
  src/remote_db/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Restore keystores from cli
  src/remote_db/commands.py
  src/remote_db/database.py
  src/remote_db/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add sentry tag project_version
  src/commands/start_base.py
Due: bandit, flake8, isort, pylint, mypy, black

Add sentry tag project_version (#447)
  src/commands/start_base.py
Due: bandit, flake8, isort, pylint, mypy, black
