Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Update process-redeemer tests for new behavior
  src/redemptions/commands/tests/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, black

Add --dry-run to process-redeemer command (#757)
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Add PositionsMerkleTree class
  src/redemptions/commands/process_redeemer.py
  src/redemptions/merkle_tree.py
Due: bandit, flake8, isort, pylint, mypy, black

Comment nonce - 1 in PositionsMerkleTree
  src/redemptions/merkle_tree.py
Due: bandit, flake8, isort, pylint, mypy, black

Update tests for PositionsMerkleTree
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/tests/test_merkle_tree.py
Due: bandit, flake8, isort, pylint, black

Drop irrelevant processed_shares from merkle tree tests
  src/redemptions/tests/test_merkle_tree.py
Due: bandit, flake8, isort, pylint, black

Extract redemption execution into src/redemptions/execution.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/execution.py
  src/redemptions/tests/test_execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Extract PositionsMerkleTree class (#758)
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/merkle_tree.py
  src/redemptions/tests/test_merkle_tree.py
Due: bandit, flake8, isort, pylint, mypy, black

Extract redemption execution into src/redemptions/execution.py (#759)
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/execution.py
  src/redemptions/tests/test_execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Add execution node and wallet balance checks to process-redeemer startup
  src/redemptions/commands/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Skip reverting positions instead of aborting redemption round
  src/redemptions/commands/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Update test for skip-on-failure redemption behavior
  src/redemptions/commands/tests/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, black

Patch startup checks in process-redeemer tests
  src/redemptions/commands/tests/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, black

Clarify consolidate command help text
  src/validators/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Add execution node and wallet balance checks to process-redeemer startup (#760)
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Skip reverting positions instead of aborting redemption round (#761)
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Format consolidate help text as bulleted list
  src/validators/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Clarify consolidate command help text (#762)
  src/validators/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Add position index for redemption logging
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/fetch_positions.py
  src/redemptions/tests/factories.py
  src/redemptions/tests/test_execution.py
  src/redemptions/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Restore update_vaults_state with batched multicall
  src/config/settings.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/execution.py
  src/redemptions/tests/test_execution.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Add position index for redemption logging (#763)
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/fetch_positions.py
  src/redemptions/tests/factories.py
  src/redemptions/tests/test_execution.py
  src/redemptions/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump sw-utils v0.13.2
  poetry.lock
  pyproject.toml
Due: none

Fix mypy
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Exclude git deps from pip-audit requirements
  .github/workflows/ci.yaml
Due: none

Ignore pyo3 false positive in Trivy scan
  .github/workflows/docker.yaml
  .trivyignore
Due: none

Log vaults being state-updated in update_vaults_state
  src/redemptions/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Improved loggign
  src/redemptions/commands/process_redeemer.py
  src/redemptions/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump v5.0.0.dev4
  pyproject.toml
Due: none

Fix milagro Sign return type
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix pip-audit aiohttp
  poetry.lock
Due: none

Bump sw-utils v0.13.2 and fix CI security scans (#765)
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .trivyignore
  poetry.lock
  pyproject.toml
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Restore update_vaults_state with batched multicall (#764)
  src/config/settings.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/execution.py
  src/redemptions/tests/test_execution.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Skip redemption positions where LTV > 1
  src/common/contracts.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Replace stuck pending transactions instead of queuing new nonce
  src/common/tests/test_transaction.py
  src/common/transaction.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Skip redemption positions where LTV > 1 (#766)
  src/common/contracts.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black
