Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Fix startup check messages
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Upd reth and lighthouse versions
  src/commands/nodes/node_install.py
Due: bandit, flake8, isort, pylint, mypy, black

Update pyinstall and build spec
  operator.spec
  poetry.lock
  pyproject.toml
Due: none

Update trivy version
  .github/workflows/docker.yaml
Due: none

Fix startup check messages (#575)
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Add EL request fees options
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/commands/start/common_option.py
  src/commands/start/hashi_vault.py
  src/commands/start/local.py
  src/commands/start/relayer.py
  src/commands/start/remote_signer.py
  src/config/settings.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add EL request fees options (#578)
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/commands/start/common_option.py
  src/commands/start/hashi_vault.py
  src/commands/start/local.py
  src/commands/start/relayer.py
  src/commands/start/remote_signer.py
  src/config/settings.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update trivy version (#577)
  .github/workflows/docker.yaml
Due: none

Update pyinstall and build spec (#576)
  operator.spec
  poetry.lock
  pyproject.toml
Due: none

Convert wei to gwei
  src/common/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix consolidation, withdrawal fees calculation
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/commands/tests/test_exit_validators.py
  src/common/execution.py
  src/config/networks.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add checks to consolidations, withdrawals queue
  src/commands/consolidate.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix fetching pending consolidations and withdrawals
  src/commands/consolidate.py
  src/common/contracts.py
  src/common/execution.py
  src/common/typings.py
  src/config/networks.py
  src/config/settings.py
  src/withdrawals/assets.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove pinata from ipfs providers
  README.md
  pyproject.toml
  scripts/install.sh
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Linter fix
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove pinata from ipfs providers (#580)
  README.md
  pyproject.toml
  scripts/install.sh
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix macos build
  scripts/install.sh
Due: none

Fix macos build (#581)
  scripts/install.sh
Due: none

Update src/common/execution.py
  src/common/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix tests
  src/withdrawals/tests/test_assets.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Decrease coverage percent
  pyproject.toml
Due: none

Implement review fixes
  src/commands/consolidate.py
  src/common/execution.py
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix install.sh for ubuntu
  scripts/install.sh
Due: none

Fix var clashes
  scripts/install.sh
Due: none

Del local stuff
  scripts/install.sh
Due: none

Fix install.sh for ubuntu (#582)
  scripts/install.sh
Due: none

Fix withdrawals
  src/common/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix withdrawal, consolidation fees (#579)
  pyproject.toml
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/commands/tests/test_exit_validators.py
  src/common/contracts.py
  src/common/execution.py
  src/common/typings.py
  src/config/networks.py
  src/config/settings.py
  src/withdrawals/assets.py
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_assets.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Close client sessions
  poetry.lock
  pyproject.toml
  src/commands/start/base.py
  src/common/clients.py
  src/common/startup_check.py
  src/validators/execution.py
  src/validators/register_validators.py
Due: bandit, flake8, isort, pylint, mypy, black

Cleanup PR
  poetry.lock
  pyproject.toml
  src/commands/start/base.py
  src/common/credentials.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix consolidations chain head
  src/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Add comment
  src/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Update pyproject version
  pyproject.toml
Due: none

Close clients for all commands
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/commands/recover.py
  src/commands/setup_remote_signer.py
  src/commands/start/base.py
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump v4.1.0.dev6
  README.md
  pyproject.toml
  scripts/install.sh
Due: none
