Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Bump v4.1.13 everywhere
  README.md
  scripts/install.sh
Due: none

Validate source_address on pending EL withdrawal/consolidation requests
  src/common/consolidations.py
  src/common/withdrawals.py
Due: bandit, flake8, isort, pylint, mypy, black

Validate source_address on pending EL withdrawal/consolidation requests (#731)
  src/common/consolidations.py
  src/common/withdrawals.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove meta-vault redemptions (#729)
  src/commands/internal/process_redeemer.py
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/common/contracts.py
  src/meta_vault/service.py
  src/meta_vault/tests/test_service.py
  src/meta_vault/typings.py
  src/redemptions/graph.py
  src/redemptions/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Speedup graph_get_allocators
  src/redemptions/graph.py
  src/redemptions/tests/test_graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix command tests
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/redemptions/tests/test_graph.py
Due: bandit, flake8, isort, pylint, black

Review fixes
  src/commands/internal/update_redeemable_positions.py
  src/redemptions/graph.py
  src/redemptions/tests/test_graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fix 2
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/redemptions/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Speedup graph_get_allocators (#732)
  src/commands/internal/update_redeemable_positions.py
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/redemptions/graph.py
  src/redemptions/tests/test_graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove redemption_assets from process-meta-vaults
  src/meta_vault/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove redemption assets reserve from meta vault tasks
  src/meta_vault/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor redemption tasks: use queued_shares and share calculate_redeemable_shares
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/redemptions/tasks.py
  src/redemptions/tests/factories.py
  src/redemptions/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor cutting off positions
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/redemptions/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Update docker image
  .github/workflows/docker.yaml
  Dockerfile
Due: none

Update docker image (#733)
  .github/workflows/docker.yaml
  Dockerfile
Due: none

Revert "Bump base image to python:3.12.13-slim-bookworm"
  Dockerfile
Due: none

Revert "Ignore disputed pyjwt vuln PYSEC-2025-183 in pip-audit"
  .github/workflows/ci.yaml
Due: none

Fix release binary builds (Windows, Linux, macOS) (#730)
  .github/workflows/release.yaml
  README.md
  operator.spec
  poetry.lock
  pyproject.toml
  scripts/install.sh
  src/__init__.py
Due: bandit, flake8, isort, pylint, mypy, black

Adapt tests for cut_off_redeemable_positions
  src/redemptions/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Add tests for get_vault_assets
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Add block_number arg to get_withdrawable_assets
  src/validators/execution.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Reserve redemption assets (#726)
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/redemptions/tasks.py
  src/redemptions/tests/factories.py
  src/redemptions/tests/test_tasks.py
  src/validators/execution.py
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Added ProcessedSharesCache
  src/commands/internal/process_redeemer.py
  src/common/contracts.py
  src/config/networks.py
  src/redemptions/tasks.py
  src/validators/tasks.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Deduplicate batching
  src/redemptions/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix poetry.lock
  poetry.lock
Due: none

Introduce aioitertools
  poetry.lock
  pyproject.toml
  src/redemptions/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Moved update_processed_shares_cache call inside get_redemption_assets
  poetry.lock
  src/redemptions/tasks.py
  src/validators/tasks.py
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix tests. Moved cache-releated stuff to cache.py
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/common/contracts.py
  src/redemptions/cache.py
  src/redemptions/tasks.py
  src/redemptions/tests/conftest.py
  src/redemptions/tests/test_cache.py
  src/redemptions/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Move fetching logic to fetch_positions.py, renamed from cache.py
  src/commands/internal/process_redeemer.py
  src/redemptions/fetch_positions.py
  src/redemptions/tasks.py
  src/redemptions/tests/conftest.py
  src/redemptions/tests/test_cache.py
  src/redemptions/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add _update_cache_lock
  src/redemptions/fetch_positions.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot review fix for updating cache
  src/redemptions/fetch_positions.py
Due: bandit, flake8, isort, pylint, mypy, black

Allow funding for new validators
  src/validators/consensus.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Improve naming
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactored fetch_compounding_validators_balances
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor naming in validators
  src/commands/consolidate.py
  src/validators/consensus.py
  src/validators/register_validators.py
  src/validators/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Allow funding for unregistered consensus validators (#735)
  src/validators/consensus.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Release v4.1.14
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Renamed patching methods accordingly
  src/validators/signing/tests/test_common.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black
