Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Integrate transaction_gas_wrapper into TransactionManager
  src/common/contracts.py
  src/common/execution.py
  src/common/tests/test_transaction.py
  src/common/transaction.py
  src/exits/execution.py
  src/harvest/execution.py
  src/meta_vault/contracts.py
  src/meta_vault/tasks.py
  src/meta_vault/tests/test_tasks.py
  src/reward_splitter/tasks.py
  src/reward_splitter/tests/test_tasks.py
  src/validators/execution.py
  src/withdrawals/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Add module name to verbose plain logs
  src/common/logging.py
Due: bandit, flake8, isort, pylint, mypy, black

Add module name to verbose plain logs (#768)
  src/common/logging.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fix
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Handle pending tx timeout and centralize estimate_gas
  src/common/transaction.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Add test for pending tx receipt timeout
  src/common/tests/test_transaction.py
Due: bandit, flake8, isort, pylint, black

Skip replacement when pending tx is at fee ceiling
  src/common/tests/test_transaction.py
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Skip replacement when fee bump cannot clear node threshold
  src/common/tests/test_transaction.py
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Add Fees unit tests and rename to_tx_params
  src/common/tests/test_transaction.py
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Detect fee-too-low rejections via Web3RPCError message
  src/common/tests/test_transaction.py
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Match Erigon replacement rejection message
  src/common/tests/test_transaction.py
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Decrease EXECUTION_TRANSACTION_TIMEOUT default to 60 sec
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Simplify default-gas escalation branch
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Add TransactionManager to handle stalled tx (#767)
  src/common/contracts.py
  src/common/execution.py
  src/common/tests/test_transaction.py
  src/common/transaction.py
  src/config/settings.py
  src/exits/execution.py
  src/harvest/execution.py
  src/meta_vault/contracts.py
  src/meta_vault/tasks.py
  src/meta_vault/tests/test_tasks.py
  src/reward_splitter/tasks.py
  src/reward_splitter/tests/test_tasks.py
  src/validators/execution.py
  src/withdrawals/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Bundle all module abi dirs in binary build
  operator.spec
Due: none

Log graph endpoint in startup checks
  src/commands/start/startup_check.py
  src/meta_vault/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix missing ABIs in binary build (#769)
  operator.spec
  src/commands/start/startup_check.py
  src/meta_vault/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Add Docker smoke test running init command in CI
  .github/workflows/docker.yaml
Due: none

Bump click to 8.3.3 to fix pip-audit advisory
  poetry.lock
  pyproject.toml
Due: none

Add Docker smoke test running init command in CI (#770)
  .github/workflows/docker.yaml
  poetry.lock
  pyproject.toml
Due: none

Catch ContractLogicError instead of legacy ValueError
  src/harvest/execution.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Call updateState directly instead of via multicall
  src/harvest/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Catch Web3Exception in harvest
  src/harvest/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix outdated web3 exception handling (#771)
  src/harvest/execution.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove is_alchemy_used check
  src/common/execution.py
  src/common/tests/test_transaction.py
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove is_alchemy_used check (#772)
  src/common/execution.py
  src/common/tests/test_transaction.py
  src/common/transaction.py
Due: bandit, flake8, isort, pylint, mypy, black

Decode custom error on register validators failure
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Decode custom error on harvest failure
  src/harvest/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Decode custom errors on remaining tx submissions
  src/common/contracts.py
  src/exits/execution.py
  src/meta_vault/contracts.py
  src/reward_splitter/tasks.py
  src/validators/execution.py
  src/withdrawals/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Drop verbose traceback from custom error handlers
  src/exits/execution.py
  src/harvest/execution.py
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fix
  src/common/contracts.py
Due: bandit, flake8, isort, pylint, mypy, black

Decode custom errors on transaction failures (#774)
  src/common/abi/Errors.json
  src/common/contracts.py
  src/common/tests/test_contract_errors.py
  src/exits/execution.py
  src/harvest/execution.py
  src/meta_vault/contracts.py
  src/reward_splitter/tasks.py
  src/validators/execution.py
  src/withdrawals/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Add env-vars command listing supported environment variables
  src/commands/env_vars.py
  src/config/env_vars.py
  src/config/settings.py
  src/config/tests/__init__.py
  src/config/tests/test_env_vars.py
  src/main.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix lint
  src/commands/env_vars.py
  src/config/tests/test_env_vars.py
Due: bandit, flake8, isort, pylint, mypy, black

Account for pending deposits in exit validator selection
  src/validators/consensus.py
  src/validators/tests/test_consensus.py
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Strengthen exit accounting test coverage
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Release v4.2.1
  README.md
  pyproject.toml
Due: none

Reduce max validator balance to 300 ETH
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix tests
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Reduce default max validator balance to 320
  src/config/networks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black
