Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Release v4.2.2 (#793)
  README.md
  pyproject.toml
Due: none

Exclude CL-invisible validators without 0x02 pending deposits from funding (#784)
  src/validators/consensus.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix partial withdrawal activation epoch boundary
  src/validators/typings.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix partial capacity accounting for non-compounding validator exits
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Exclude consolidation source validators from withdrawal selection
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Guard against full exit overwriting same-batch partial withdrawal
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix partial withdrawal activation epoch boundary (#795)
  src/validators/typings.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Do not fail withdrawal cycle on unresolved consolidation target
  src/common/consolidations.py
  src/common/tests/test_consolidations.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix partial capacity accounting for non-compounding validator exits (#796)
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Resolve pending consolidations against all vault validators
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Clarify env-vars command help
  src/commands/env_vars.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix comment
  src/validators/consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Reject empty source public keys file in consolidate command
  src/validators/commands/consolidate.py
  src/validators/commands/tests/test_consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Add env-vars command listing supported environment variables (#776)
  src/commands/env_vars.py
  src/config/env_vars.py
  src/config/settings.py
  src/config/tests/__init__.py
  src/config/tests/test_env_vars.py
  src/main.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fix
  src/validators/commands/consolidate.py
  src/validators/commands/tests/test_consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Revert error text
  src/validators/commands/consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Handle consolidation errors raised during manager creation
  src/validators/commands/consolidate.py
  src/validators/commands/tests/test_consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Exclude consolidation source validators from withdrawal selection (#797)
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Reject pending validators as consolidation targets
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Resolve pending consolidations against all vault validators (#800)
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove comments
  src/validators/consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Unify activation epoch check for consolidation sources and targets
  src/validators/consolidation_manager.py
  src/validators/tests/factories.py
  src/validators/tests/test_consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Require activated target instead of unified activation window
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Verify source withdrawal address matches the vault
  src/validators/consolidation_manager.py
  src/validators/tests/factories.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Include addresses in mismatch errors and extend tests
  src/validators/consolidation_manager.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Cache withdrawals block fallback (#791)
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Reject pending validators as consolidation targets (#803)
  src/validators/consolidation_manager.py
  src/validators/tests/factories.py
  src/validators/tests/test_consolidation_manager.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fix
  src/validators/tests/factories.py
Due: bandit, flake8, isort, pylint, black

Verify source withdrawal address matches the vault (#804)
  src/validators/consolidation_manager.py
  src/validators/tests/factories.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Defer funding instead of blocking registration when interval has not passed (#785)
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Reject empty source public keys file in consolidate command (#801)
  src/validators/commands/consolidate.py
  src/validators/commands/tests/test_consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Release v4.2.3
  README.md
  pyproject.toml
Due: none

Handle consolidation errors raised during manager creation (#802)
  src/validators/commands/consolidate.py
  src/validators/commands/tests/test_consolidate.py
Due: bandit, flake8, isort, pylint, mypy, black

Simplify overwrite-guard test
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Add withdrawals tests
  src/common/tests/test_withdrawals.py
  src/withdrawals/tests/test_assets.py
  src/withdrawals/tests/test_execution.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Apply review fixes to withdrawals tests
  src/common/tests/test_withdrawals.py
  src/withdrawals/tests/test_execution.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Drop PR number reference from test
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Simplify test comments
  src/common/tests/test_withdrawals.py
  src/withdrawals/tests/test_assets.py
  src/withdrawals/tests/test_execution.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Add withdrawals tests (#806)
  src/common/tests/test_withdrawals.py
  src/withdrawals/tests/test_assets.py
  src/withdrawals/tests/test_execution.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Release v4.2.3 (#805)
  README.md
  pyproject.toml
Due: none
