Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Handle nested metavaults (#685)
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Add tests
  src/node_manager/tests/__init__.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Cache sqlite connection
  src/common/clients.py
  src/validators/tests/test_database.py
Due: bandit, flake8, isort, pylint, mypy, black

Add zero-check for sub vault redemption assets (#687)
  src/meta_vault/service.py
Due: bandit, flake8, isort, pylint, mypy, black

Add Node Manager contract
  src/commands/node_manager_start.py
  src/common/abi/INodesManager.json
  src/common/contracts.py
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add COMMUNITY_VAULT_CONTRACT_ADDRESS
  src/commands/node_manager_start.py
  src/common/contracts.py
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add tests for process_funding
  src/validators/tasks.py
  src/validators/tests/conftest.py
  src/validators/tests/test_database.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fixes
  src/conftest.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Add Node Manager contract (#689)
  src/commands/node_manager_start.py
  src/common/abi/INodesManager.json
  src/common/contracts.py
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor startup checks into domain-specific modules
  src/commands/process_meta_vaults.py
  src/commands/start/base.py
  src/commands/start/startup_check.py
  src/common/startup_check.py
  src/meta_vault/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Add node manager startup checks
  src/commands/node_manager_start.py
  src/common/contracts.py
  src/node_manager/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor startup checks into domain-specific modules (#692)
  src/commands/process_meta_vaults.py
  src/commands/start/base.py
  src/commands/start/startup_check.py
  src/common/startup_check.py
  src/meta_vault/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Update trivy-action
  .github/workflows/docker.yaml
Due: none

Assert fund_compounding_validators not called in early-return tests
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Update trivy (#694)
  .github/workflows/docker.yaml
Due: none

Add funding amount assertions to process_funding tests
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Use literal assertions and check result in all process_funding tests
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Rm unused condition
  src/node_manager/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Add node manager startup checks (#695)
  src/commands/node_manager_start.py
  src/common/contracts.py
  src/node_manager/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Add tests for process_funding (#690)
  src/conftest.py
  src/validators/tasks.py
  src/validators/tests/conftest.py
  src/validators/tests/test_database.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix tests
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Fix contract call
  src/node_manager/register_validators.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Rename to operator_address
  src/commands/node_manager_start.py
  src/node_manager/oracles.py
  src/node_manager/register_validators.py
  src/node_manager/startup_check.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add state sync
  src/commands/node_manager_start.py
  src/common/app_state.py
  src/common/contracts.py
  src/node_manager/execution.py
  src/node_manager/tasks.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Simplify IPFS fetch
  src/common/contracts.py
  src/node_manager/execution.py
  src/node_manager/tasks.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Rename unprocessed_shares
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/redemptions/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Add exception_count metric and move MetricsTask to tasks module
  src/commands/start/base.py
  src/common/metrics.py
  src/common/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Change exception_count from Gauge to Counter
  src/common/metrics.py
Due: bandit, flake8, isort, pylint, mypy, black

Add exception_count metric (#697)
  src/commands/start/base.py
  src/common/metrics.py
  src/common/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump setup-trivy@v0.2.6
  .github/workflows/docker.yaml
Due: none

Bump setup-trivy@v0.2.6 (#698)
  .github/workflows/docker.yaml
Due: none

Use graph cursor pagination
  src/commands/submit_rated_network.py
  src/meta_vault/graph.py
  src/reward_splitter/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Update docstring
  src/meta_vault/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Add operator validators
  src/commands/node_manager_start.py
  src/node_manager/database.py
  src/node_manager/execution.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Rm funding
  src/commands/node_manager_start.py
  src/node_manager/oracles.py
  src/node_manager/register_validators.py
  src/node_manager/tasks.py
  src/node_manager/tests/test_oracles.py
  src/node_manager/tests/test_oracles_http.py
  src/node_manager/tests/test_register_validators.py
  src/node_manager/tests/test_tasks.py
  src/node_manager/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Revert graph_get_vault_validators
  src/commands/submit_rated_network.py
Due: bandit, flake8, isort, pylint, mypy, black
