Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        args: [ "-c", "pyproject.toml" ]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        exclude: "test"

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        args:
          [
            "--check",
            "--diff",
          ]
        require_serial: true

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry
        language: system
        files: no-files
        args: ["lock", "--check"]
        always_run: true

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.13'
    hooks:
      - id: vulture
        args: ["src/"]
        files: no-files
        always_run: true

Improve max validator balance option help
  src/commands/start/common_option.py
Due: bandit, flake8, isort, pylint, mypy, black

Rephrase max validator balance option help
  src/commands/start/common_option.py
Due: bandit, flake8, isort, pylint, mypy, black

Reduce default max validator balance to 300 ETH (#779)
  src/commands/start/common_option.py
  src/config/networks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Account for pending deposits in exit validator selection (#777)
  src/validators/consensus.py
  src/validators/tests/test_consensus.py
  src/withdrawals/tasks.py
  src/withdrawals/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Release v4.2.1 (#778)
  README.md
  pyproject.toml
Due: none

Use vault multicall in get_withdrawable_assets
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Handle contract custom errors in redemptions
  src/common/tests/test_utils.py
  src/common/utils.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/contracts.py
  src/redemptions/execution.py
  src/redemptions/tests/test_execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Use vault multicall in get_withdrawable_assets (#781)
  src/validators/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Exclude slashed validators from funding and consolidation
  src/validators/consensus.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Exclude CL-invisible validators without 0x02 pending deposits from funding
  src/validators/consensus.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Defer funding instead of blocking registration when interval has not passed
  src/validators/tasks.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix docstring in fetch_pending_deposits_amounts
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Patch funding interval check in CL-absent key test
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Strengthen funding interval test with partial-reserve literal assertion
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Strengthen exiting-validator funding test to discriminate both orderings
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Fix docstring in fetch_pending_deposits_amounts (#786)
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove comments
  src/validators/consensus.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Exclude slashed validators from funding and consolidation (#783)
  src/validators/consensus.py
  src/validators/tests/test_consolidation_manager.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Handle generic exceptions in redemptions execution
  src/redemptions/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Include error details in redemptions error logs
  src/redemptions/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Handle contract custom errors in redemptions (#782)
  src/common/tests/test_utils.py
  src/common/utils.py
  src/redemptions/commands/process_redeemer.py
  src/redemptions/commands/tests/test_process_redeemer.py
  src/redemptions/contracts.py
  src/redemptions/execution.py
  src/redemptions/tests/test_execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump v5.0.0.dev5
  pyproject.toml
Due: none

Bound oracle approval polling and handle registry root change gracefully
  src/config/settings.py
  src/validators/oracles.py
  src/validators/tasks.py
  src/validators/tests/test_oracles.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Apply review suggestions to oracle polling
  src/config/settings.py
  src/validators/oracles.py
  src/validators/tests/test_oracles.py
Due: bandit, flake8, isort, pylint, mypy, black

Validate relayer responses and defer funding on missing signature
  src/validators/relayer.py
  src/validators/tasks.py
  src/validators/tests/test_relayer.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Apply review suggestions to relayer response validation
  src/validators/exceptions.py
  src/validators/relayer.py
  src/validators/tasks.py
  src/validators/tests/test_relayer.py
  src/validators/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Add balance symbol to queued assets log
  src/redemptions/commands/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove Infura IPFS settings
  src/common/clients.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Add balance symbol to queued assets log (#789)
  src/redemptions/commands/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove Infura IPFS settings (#790)
  src/common/clients.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Cache withdrawals block fallback
  src/withdrawals/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix pip-audit
  poetry.lock
Due: none

Remove comments
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Fetch validator events in chunked block ranges
  src/common/contracts.py
  src/validators/event_processors.py
Due: bandit, flake8, isort, pylint, mypy, black

Update packages
  poetry.lock
Due: none

Split funding filtering and pending deposits enrichment
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Release v4.2.2
  README.md
  pyproject.toml
Due: none

Fix docstring in fetch_compounding_pending_deposits_amounts
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Fetch validator events in chunked block ranges (#792)
  poetry.lock
  src/common/contracts.py
  src/validators/event_processors.py
Due: bandit, flake8, isort, pylint, mypy, black
