Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  args:
  - --check
  - --diff
  require_serial: true

Add envvar for network
  src/commands/process_metavaults.py
Due: bandit, flake8, isort, pylint, mypy, black

bump version
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Fix copilot comment
  src/commands/process_metavaults.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove redundant import
  src/commands/process_metavaults.py
Due: bandit, flake8, isort, pylint, mypy, black

Revert removing jwt token
  src/commands/process_metavaults.py
Due: bandit, flake8, isort, pylint, mypy, black

Add private key (#614)
  README.md
  pyproject.toml
  scripts/install.sh
  src/commands/process_metavaults.py
  src/common/wallet.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix exit requests, rename command to process-meta-vaults
  src/commands/process_meta_vaults.py
  src/main.py
  src/meta_vault/tasks.py
  src/meta_vault/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump v4.0.16
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Fix exit requests, rename command to process-meta-vaults (#615)
  README.md
  pyproject.toml
  scripts/install.sh
  src/commands/process_meta_vaults.py
  src/main.py
  src/meta_vault/tasks.py
  src/meta_vault/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Update hidden imports for linux builds
  README.md
  operator.spec
  pyproject.toml
  scripts/install.sh
Due: none

Update hidden imports for linux builds (#616)
  README.md
  operator.spec
  pyproject.toml
  scripts/install.sh
Due: none

Refactor graph checks
  src/common/graph.py
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix typo
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Refactor graph checks (#617)
  src/common/graph.py
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot review fix
  src/common/startup_check.py
  src/nodes/status.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove duplicated checks
  src/common/checks.py
Due: bandit, flake8, isort, pylint, mypy, black

Improve hidden endpoints
  src/common/logging.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Add test
  src/common/tests/test_logging.py
Due: bandit, flake8, isort, pylint, black

Fix test
  src/common/tests/test_logging.py
Due: bandit, flake8, isort, pylint, black

Copilot review fixes
  src/common/logging.py
  src/common/tests/test_logging.py
Due: bandit, flake8, isort, pylint, mypy, black

Upd deps
  poetry.lock
Due: none

Improve hidden endpoints (#618)
  poetry.lock
  src/common/logging.py
  src/common/tests/test_logging.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove chiado support
  .env.example
  poetry.lock
  pyproject.toml
  src/common/typings.py
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot review fix
  src/common/startup_check.py
  src/nodes/utils/timeout.py
Due: bandit, flake8, isort, pylint, mypy, black

Use shared mev address as fee recipient
  src/nodes/process.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fixes
  src/commands/nodes/node_install.py
  src/commands/nodes/node_status.py
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove chiado support (#619)
  .env.example
  poetry.lock
  pyproject.toml
  src/common/typings.py
  src/config/networks.py
Due: bandit, flake8, isort, pylint, mypy, black

Revert "Use shared mev address as fee recipient"
  src/nodes/process.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix fee recipient for NodeWise
  src/nodes/process.py
Due: bandit, flake8, isort, pylint, mypy, black

Restored validate_settings
  src/commands/start/local.py
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Add node feature (#570)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/_vulture_whitelist.py
  src/commands/nodes/__init__.py
  src/commands/nodes/node_install.py
  src/commands/nodes/node_start.py
  src/commands/nodes/node_status.py
  src/commands/start/base.py
  src/commands/start/common_option.py
  src/commands/start/local.py
  src/common/checks.py
  src/common/clients.py
  src/common/logging.py
  src/common/startup_check.py
  src/common/utils.py
  src/config/networks.py
  src/config/settings.py
  src/main.py
  src/nodes/__init__.py
  src/nodes/exceptions.py
  src/nodes/execution_sync_history.py
  src/nodes/lighthouse.py
  src/nodes/process.py
  src/nodes/status.py
  src/nodes/status_history.py
  src/nodes/typings.py
  src/nodes/utils/proc.py
  src/nodes/utils/timeout.py
  src/validators/keystores/local.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump version v4.1.0
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Bump version v4.1.0 (#620)
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Rm unused id
  src/common/typings.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix exited validator funding
  README.md
  pyproject.toml
  scripts/install.sh
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix exited validator funding (#621)
  README.md
  pyproject.toml
  scripts/install.sh
  src/validators/consensus.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix fee splitter graph query
  README.md
  pyproject.toml
  scripts/install.sh
  src/reward_splitter/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix fee splitter graph query (#622)
  README.md
  pyproject.toml
  scripts/install.sh
  src/reward_splitter/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Use click show default
  src/commands/consolidate.py
  src/commands/exit_validators.py
  src/commands/process_meta_vaults.py
  src/commands/recover.py
  src/commands/start/common_option.py
Due: bandit, flake8, isort, pylint, mypy, black

Use single graph session
  poetry.lock
  pyproject.toml
  src/common/clients.py
  src/common/startup_check.py
Due: bandit, flake8, isort, pylint, mypy, black

Path conditions:
  bandit: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: test
  black: any of: \.py$
