Repository stakewise/v3-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flake8, isort, pylint, mypy, black

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  args:
  - --check
  - --diff
  require_serial: true

Update-redeemable-positions: Filter vaults with v1 Os Token config
  src/redemptions/graph.py
  src/redemptions/tests/test_graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix tests
  src/commands/tests/test_internal/test_update_redeemable_positions.py
Due: bandit, flake8, isort, pylint, black

Update-redeemable-positions: Filter vaults with v1 Os Token config (#716)
  src/commands/tests/test_internal/test_update_redeemable_positions.py
  src/redemptions/graph.py
  src/redemptions/tests/test_graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Call redeem_sub_vaults_assets only if needed
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix trivy scan, process-redeemer desc, unity
  .github/workflows/docker.yaml
  .pre-commit-config.yaml
  src/commands/internal/process_redeemer.py
  src/nodewise/utils/timeout.py
Due: bandit, flake8, isort, pylint, mypy, black

Remove unify python3.10 pin, set vulture python3.12
  .pre-commit-config.yaml
Due: none

Pin unify to python3.12
  .pre-commit-config.yaml
Due: none

Set trivy db repo, default python3.12 for pre-commit
  .github/workflows/docker.yaml
  .pre-commit-config.yaml
Due: none

Fix trivy scan (#719)
  .github/workflows/docker.yaml
  .pre-commit-config.yaml
  src/commands/internal/process_redeemer.py
  src/nodewise/utils/timeout.py
Due: bandit, flake8, isort, pylint, mypy, black

Harvest meta vaults during process-redeemer
  poetry.lock
  pyproject.toml
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/common/abi/IV4EthMetaVault.json
  src/common/contracts.py
  src/common/startup_check.py
  src/config/networks.py
  src/meta_vault/service.py
Due: bandit, flake8, isort, pylint, mypy, black

Refresh harvest_params after meta vault harvest
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Add help for --skip-harvest
  src/commands/internal/process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Recheck current_withdrawable
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Add test for --skip-harvest
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, black

Always call process_exit_queue
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Handle errors in redeem_os_token_positions
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Unify configuration Units (#714)
  .env.example
  pyproject.toml
  src/commands/consolidate.py
  src/commands/node_manager_start.py
  src/commands/process_meta_vaults.py
  src/commands/start/common_option.py
  src/commands/start/hashi_vault.py
  src/commands/start/local.py
  src/commands/start/relayer.py
  src/commands/start/remote_signer.py
  src/common/startup_check.py
  src/common/validators.py
  src/config/networks.py
  src/config/settings.py
Due: bandit, flake8, isort, pylint, mypy, black

Rename is_meta_vault_state_update_required
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/meta_vault/service.py
Due: bandit, flake8, isort, pylint, mypy, black

Rm comment
  src/validators/utils.py
Due: bandit, flake8, isort, pylint, mypy, black

Rename scan_node_manager_validators_events
  src/commands/node_manager_start.py
  src/node_manager/execution.py
  src/node_manager/tasks.py
Due: bandit, flake8, isort, pylint, mypy, black

Fix tests
  src/node_manager/tests/test_tasks.py
Due: bandit, flake8, isort, pylint, black

Use single iteration for process-redeemer
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Use multicall for state update
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Small fixes
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/meta_vault/service.py
Due: bandit, flake8, isort, pylint, mypy, black

Copilot fixes
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Update tests
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, black

Bump v4.1.11
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Bump v4.1.11 (#722)
  README.md
  pyproject.toml
  scripts/install.sh
Due: none

Call process_exit_queue after redeem
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/common/execution.py
Due: bandit, flake8, isort, pylint, mypy, black

Wait for block sync before get_withdrawable_assets
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/common/contracts.py
Due: bandit, flake8, isort, pylint, mypy, black

Bump v5.0.0.dev3
  pyproject.toml
Due: none

Skip deposit to sub vaults
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Review fixes
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/common/contracts.py
Due: bandit, flake8, isort, pylint, mypy, black

Speedup docker build in CI
  .github/workflows/docker.yaml
Due: none

Set github token readonly permissions
  .github/workflows/docker.yaml
Due: none

Del trivy-setup
  .github/workflows/docker.yaml
Due: none

Revert permissions block
  .github/workflows/docker.yaml
Due: none

Stop on ClaimDelayNotPassedException
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
Due: bandit, flake8, isort, pylint, mypy, black

Pin block for graph_get_vaults
  src/commands/internal/process_redeemer.py
  src/commands/tests/test_internal/test_process_redeemer.py
  src/meta_vault/graph.py
Due: bandit, flake8, isort, pylint, mypy, black

Path conditions:
  bandit: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: test
  black: any of: \.py$
